<div>
  <img class="image-wrapper" src="../../assets/background.png" alt="" />
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-10">
      <div class="row">
        <div class="primary-color upper-container col-xs-10 col-sm-12 col-md-3 col-lg-3">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <img class="centered-images" src="../../assets/fill-form.png" alt="" />
              <h2 class="text-center primary-color-text">Llena el formulario de tu vehiculo</h2>
              <p class="text">
                Llenando la informacion de un sencillo formulario tendras acceso a una cotizacion del costo de tu seguro SOAT
              </p>
               <button type="button" class="accent-color centered-button btn btn-primary btn-lg">Me interesa</button>
            </div>
          </div>
        </div>
        <div class="primary-color upper-container col-xs-10 col-sm-12 col-md-3 col-lg-3">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <img class="centered-images" src="../../assets/buy.png" alt="" />
              <h2 class="text-center primary-color-text">Compra tu seguro SOAT</h2>
              <p class="text">
                Por medio de nuestra plataforma puedes realizar el pago online de tu seguro SOAT
              </p>
               <button style="margin-top:30px"type="button" class="accent-color centered-button btn btn-primary btn-lg">Quiero saber mas</button>
            </div>
          </div>
        </div>
        <div class="primary-color upper-container col-xs-10 col-sm-12 col-md-3 col-lg-3">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <img class="centered-images" src="../../assets/deal.png" alt="" />
              <h2 class="text-center primary-color-text">Recibe soporte 24/7</h2>
              <p class="text">
                En nuestra compañia estamos comprometidos con el cliente brindando soporte 24/7
              </p>
              <button type="button" class="accent-color centered-button btn btn-primary btn-lg">Registrarme</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
