<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6 app-view-container">
    <form  #form="ngForm" (ngSubmit)="submitForm(form.value)">
      <h2 class="text-center">Bienvenido</h2>
      <div class="form-group">
        <label for="exampleInputEmail1">Correo Electronico</label>
        <input type="email" class="form-control" name = "email" id="exampleInputEmail1" placeholder="Correo Electronico" ngModel required>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Contraseña</label>
        <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Contraseña" ngModel required>
      </div>
      <div class="form-group">
        <a routerLink="/register">¡Quiero registrarme¡</a>
      </div>
      <button type="submit" class="btn btn-default accent-color secondary-text-color">Ingresar</button>
    </form>
  </div>
</div>
