<nav class="navbar navbar-default no-margin navbar-fixed-top">
  <div class="container-fluid primary-color">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed" >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand primary-color-text" routerLink="">Soat Facíl</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="navbar" class="navbar-collapse collapse" [collapse]="isCollapsed">
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="currentUser && currentUser.roles[0] === 'admin'"><a class="primary-color-text" routerLink="/login" >Ver seguros comprados</a></li>
        <li *ngIf="currentUser"><a class="primary-color-text" routerLink="/login" >Adquirir Soat</a></li>
        <li *ngIf="currentUser"><a class="primary-color-text" routerLink="/register">Mis seguros adquiridos</a></li>
        <li *ngIf="currentUser"><a class="primary-color-text" (click)="logout()">Salir</a></li>
        <li *ngIf="!currentUser"><a class="primary-color-text" routerLink="/login" >Ingresar</a></li>
        <li *ngIf="!currentUser"><a class="primary-color-text" routerLink="/register">Registrarse</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<router-outlet class="wrap"></router-outlet>
